.color-title{
    font-weight: normal;
}

img{
    height: 200px;
    width: 200px;
}

#blue{
    color: blue;
}

#orange{
    color: orange;
}

#green{
    color: green;
}

#yellow{
    color: yellow;
}

#red{
    color: red;
}